#
docker=3.7.2
libvirt-python=5.2.0
lxml=4.3.3
netifaces==0.10.4
paramiko=2.4.2
python-keystoneclient==3.19.0
python-novaclient==13.0.0
PyYAML==3.12
ruamel.yaml=0.15.94
six==1.11.0
structlog==19.1.0
transitions=0.6.9
