Babel>=2.3.4
cffi>=1.9.1
cryptography>=1.5.3
debtcollector>=1.9.0
deepdiff >=2.5.1
enum34>=1.1.6
funcsigs>=1.0.2
idna>=2.1
ipaddress>=1.0.17
iso8601>=0.1.11
keystoneauth1>=2.15.0
libvirt-python>=2.4.0
monotonic>=1.2
msgpack-python>=0.4.8
netaddr>=0.7.18
netifaces>=0.10.5
oslo.config>=3.19.0
oslo.i18n>=3.10.0
oslo.serialization>=2.14.0
oslo.utils>=3.18.0
paramiko>=2.0.2
pbr>=1.10.0
positional>=1.1.1
prettytable>=0.7.2
pyasn1>=0.1.9
pycparser>=2.17
pyparsing>=2.1.10
python-keystoneclient>=3.6.0
python-novaclient>=6.0.0
pytz>=2016.7
requests>=2.12.1
rfc3986>=0.4.1
ruamel.ordereddict>=0.4.9
ruamel.yaml>=0.12.18
simplejson>=3.10.0
six>=1.10.0
stevedore>=1.18.0
transitions>=0.4.2
typing>=3.5.2.2
urllib3>=1.19.1
wrapt>=1.10.8
ovs>=2.6.1
